[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
black = "*"

[packages]
fabric = "*"
pytest = "*"
pytest-axe = "*"
pytest-repeat = "*"
pytest-rerunfailures = "*"
pytest-selenium = "*"
pytest-test-groups = "*"
pytest-xdist = "*"
python-dateutil = "*"
requests = "*"
selenium = "==4.0.0a1"
selene = {git = "https://github.com/yashaka/selene.git",ref = "1.0.0a13"}
fuzzbucket-client = {file = "https://cdn.rstudio.com/connect/fuzzbucket/0.9.0/fuzzbucket_client-0.9.0-py3-none-any.whl"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
